.order-container {
    position: fixed;
    top: 60px;
    left: 70px;
    width: calc(100% - 70px);
    min-height: calc(100vh - 60px);
    background-color: #f8f9fa;
    padding: 10px 20px;
    overflow: hidden;
}

.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #f0f0f0;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
}

.summary-row.total {
  border-top: 1px solid #ddd;
  padding-top: 6px;
  font-size: 16px;
}
.ant-pagination-item-link {
  background-color: #0d9488 !important; /* màu nền xanh ngọc */
  color: white !important;              /* màu chữ */
  border-radius: 8px !important;        /* bo góc mềm */
  border: none !important;              /* bỏ viền mặc định */
  transition: all 0.2s ease;
  
}
.ant-pagination-item-link:hover {
  background-color: #0f766e !important;
  color: #fff !important;
  transform: scale(1.05);
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 12px;
}

.order-container .ant-table-thead > tr > th {
  background-color: #008f5a !important;
  color: #ffffff !important;
  font-weight: 600;
  border: none !important;
}

/* Nền màu xanh cho header Ant Design Table */
.ant-table-thead > tr > th {
  background-color: green !important;
  color: white !important;
  text-align: center;
}

/* Hover hàng */
.order-container .ant-table-tbody > tr:hover > td {
  background-color: #e6f4ea !important;
  cursor: pointer;
}