.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f5f6f8;
}

/* Navbar luôn ở trên cùng */
.home-container > .Navbar {
  flex-shrink: 0;
}

/* Bố cục chính gồm Sidebar và nội dung */
.HomeWrapper {
  flex: 1;
  display: flex;
  padding-top: 50px;
}

/* Sidebar cố định bên trái */
.HomeWrapper > .sidebar {
  width: 70px;
  background-color: #2f3640;
  color: white;
  flex-shrink: 0;
}

/* Khu vực nội dung thay đổi (Order, Customer, ...) */
.HomeContent {
  flex: 1;
  overflow-y: auto;
  background-color: #f3f6f4;
  padding: 0px 0px 0px 20px;
  transition: all 0.3s ease;
}
